/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}

div.all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20% 5%;
    width: 90vw;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 2%;
}

.picture {
    width: 90vw;
    height: 35vh;
    background-image: url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.picture-color {
    width: 90vw;
    height: 35vh;
    background-color: rgba(93, 3, 150, 0.7);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 7% 0% 10%;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.text-title {
    padding-bottom: 5%;
    font-size: 2.0em;
    text-align: center;
}

.purple {
    color: hsl(277, 64%, 61%);
}

.text-paragaph {
    font-weight: 400;
    font-size: 1.1em;
    color: hsla(0, 0%, 100%, 0.75);
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
    text-transform: uppercase;
}

.list-item {
    padding-bottom: 10%;
    font-weight: 400;
    font-size: 1.1em;
    color: hsla(0, 0%, 100%, 0.75);
}

.distinction {
    display: block;
    padding-bottom: 2%;
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
    font-weight: 700;
}

.small {
    text-transform: none;
}

/* Stopka */
.attribution {
    margin-top: 5%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (orientation: portrait) and (max-width: 280px) and (min-height:563px) {
    .picture {
        height: 25vh;
    }

    .picture-color {
        height: 25vh;
    }
}

@media (orientation: portrait) and (min-width: 375px) and (min-height:812px) {
    .picture {
        height: 30vh;
    }

    .picture-color {
        height: 30vh;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .text-title {
        font-size: 3.7em;
    }

    .text-paragaph {
        font-size: 1.8em;
    }

    .picture {
        height: 45vh;
    }

    .picture-color {
        height: 45vh;
    }

    .list-item {
        font-size: 1.8em;
    }

    .distinction {
        font-size: 2.0em;
    }

    .attribution {
        font-size: 1.5em;
    }
}

@media (orientation: landscape) and (min-width: 533px) {
    .picture {
        height: 75vh;
    }

    .picture-color {
        height: 75vh;
    }
}

@media (orientation: landscape) and (min-width: 812px) {
    .picture {
        height: 100vh;
    }

    .picture-color {
        height: 100vh;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .head {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    div.all {
        margin: 5% auto;
        width: 80vw;
    }

    .picture {
        background-image: url(../images/image-header-desktop.jpg);
        max-width: 42vw;
        max-height: 30vw;
        border-top-left-radius: 0;
        border-top-right-radius: 2%;
        border-bottom-right-radius: 2%;
    }

    .picture-color {
        max-width: 42vw;
        max-height: 30vw;
        border-top-left-radius: 0;
        border-top-right-radius: 2%;
        border-bottom-right-radius: 2%;
    }

    .text {
        padding: 5% 6% 5% 6%;
        text-align: left;
    }

    .text-title {
        padding-bottom: 0;
        font-size: 2.0em;
        text-align: left;
    }

    .text-paragaph {
        padding-top: 0;
        padding-right: 11%;
        font-size: 1.0em;
        line-height: 23px;
    }

    .list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 11%;
    }

    .list-item {
        padding-bottom: 0;
        font-size: 0.9em;
        letter-spacing: 1px;
    }

    .distinction {
        font-size: 1.6em;
    }
}